.App {
  background-color: #504742;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
.App-logo {

  }
}*/

.App-header {
  background-color: #AC3435;
  min-height: 120px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
}

.nav {
  color: #808080;
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav a {
  color: inherit;
}

.nav ul {
  list-style: none;
  justify-content: center;
}

.nav ul li {
  display: inline;
  background-color: #010120;
  padding: 12px;
  border-width: 7px;
  border-style: solid;
  border-color: #010120;
  border-radius: 9px;

}


.App-body {
  min-height: 100%;
}

.App-footer {
  background-color: #AC3435;
  min-height: 120px;
  display: grid;
  text-align: left;
  color: #fdfdfdfa;
  font-style: oblique;
  padding: 20px;
  grid-template-columns: 20% 60% 20%;
}

.App-link {
  color: #61dafb;
}


.App-icon {
  width: 40px;
  height: 40px;
  padding-left: 45px;
}

.App-massage {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  padding-left: 30%;
  padding-right: 30%;
}